.div1 {
    width: 200px;
    height: 200px;
    background-color: violet;
    color: black;
    font-size: 18px;
    text-align: center;
}

.div2 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    color: black;
    font-size: 18px;
    text-align: center;
}