
<table width="100%" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>CITY</th>
            <th>STATUS</th>
            <th>MARKS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.studentId}}</td>
            <td>{{student.name}}</td>
            <td>{{student.city}}</td>
            <td [ngStyle]="{'background-color': student.isActive? 'yellow' : 'red'}">
                
                {{student.isActive ? 'Active' : 'Not Active'}}
            </td>
            <td>

                <div class="progress">
                    <div class="progress-bar" [ngStyle]="{'width': student.marks + '%'}" >{{student.marks}}%</div>
                </div>
            </td>

        </tr>
    </tbody>
</table>
